@model IEnumerable<DeberPrograPao1.Models.Computadora>

@{
    ViewData["Title"] = "Computadoras";
}

    <h1>Computadoras</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var computadora in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => computadora.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => computadora.Modelo)
                </td>
                <td>
                    <form action="computadoras/comprar" method="post">
                        <div class="row">
                            <input name="id" type="hidden" value="@computadora.Id" />
                            <input type="submit" value="Comprar" class="btn btn-success" />
                        </div>
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@computadora.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@computadora.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@computadora.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
